{% extends 'base.html' %}
{% load static %} 

{% block title %}Minha Biblioteca - JoyScore{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'jogos/css/biblioteca.css' %}"> 
{% endblock %}

{% block content %}
<main class="main-content">

    {% if user.is_authenticated %} 
        <section class="content-section"> 
            <h2 class="section-title">MINHA BIBLIOTECA DE JOGOS:</h2>
            
            {% if jogos %}
                <div class="game-list">
                    {% for jogo in jogos %}
                        <a href="{% url 'jogos:avaliar' jogo.id %}" class="card-link">
                            <div class="card">
                                <img src="{{ jogo.background_image }}" alt="Capa do Jogo {{ jogo.titulo }}"> 
                                <div class="card-info">
                                    <div class="card-title">{{ jogo.titulo }}</div>
                                    </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>Sua biblioteca está vazia. Adicione jogos!</p>
            {% endif %}
        </section>

    {% else %}
        <section class="content-section">
            <h2 class="section-title">BIBLIOTECA DE JOGOS:</h2>
            <p>Faça <a href="{% url 'jogos:login' %}">login</a> para visualizar e gerenciar sua biblioteca pessoal.</p>
        </section>
    {% endif %}

</main>
{% endblock %}