{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JoyScore{% endblock %}</title> 
    <link rel="stylesheet" href="{% static 'jogos/css/style.css' %}">
</head>
<body>

    <header class="header">
        <div class="logo">JoyScore</div>
        <div class="right-section">
            <div class="auth-links">
                <a href="login.html" class="btn-register">Entrar</a>
            </div>
            <input type="checkbox" id="menu-toggle" hidden>
            <label for="menu-toggle" class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </label>
            <nav class="menu">
                <ul>
                    <li><a href="site.html" target="_blank">Início</a></li>
                    <li><a href="remove-game.html" target="_blank">Biblioteca</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025-JoyScore</p>
    </footer>

    {% block extra_scripts %}
    {% endblock %}

</body>
</html>