<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">JoyScore</div>
        <div class="search">
            <input type="text" placeholder="Buscar...">
            <button>🔍</button>
        </div>
        <div class="right-side">
            <div class="menu-item">Biblioteca</div>
            <div class="menu-item">Entrar</div>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p> &copy; 2025 - JoyScore</p>
    </footer>
</body>
</html>