{%extends 'base.html'%}

{%block title%}Início - JoyScore{%endblock%}

{%block content%}
    <section class="content-section">
        <div class="section-header">
            <h2 class="section-title">Jogos Populares</h2>
        </div>

        <div class="card-container">
            {%for jogo in jogos_rawg%}
                <div class="card">
                    <img src="{{jogo.background_image}}" alt="{{jogo.name}}">
                    <div class="card-info">
                        <div class="card-title">{{jogo.name}}</div>
                        <div class="card-subtitle">Data de Lançamento: {{jogo.released}}</div>
                    </div>
                </div>
            {%empty%}
                <p>Nenhum jogo popular encontrado no momento.</p>
            {%endfor%}
            
        </div>
    </section>
{%endblock%}